article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, video {
display:block;
}
a:link, a:visited {
color: #952;
text-decoration: none;
}
body
{
text-align:center;
font:100% DroidSerif, Georgia, "Times New Roman", Times, serif; 
overflow-y:scroll;
overflow-x: hidden;
background-color: #3c6b92;
}

#mainHeader{
    background: #3c6b92;
}
#mainDiv {
    position: relative;
    padding: 0;
    width: 1280px;
    margin:30px -1em 0px -1em ;
    text-align: left; 
    background-color: #fff;
    }
    #mainHeader {
    position: relative;
    float: left;
    }
    #mainHeader a.logo:hover {
        border: none;
        }
        #mainHeader a.logo{
        width: 192px;
        height: 237px;
        display: block;
        background: url("./image/logo.gif") no-repeat;
        position: absolute;
        top: -25px;
        left: 50px;
        text-indent: -1000em;
        z-index: 2000;
        }
        #mainNav ul {
        list-style:none;
        padding-bottom: 100px;
        margin:0;
        float: left;
        }
        #mainNav > ul {
        height: 45px;
        background-color: #b3b3b3;
        width: 1050px; 
        padding-left: 242px; 
        }
        #mainNav ul > li {
        float: left;
        margin:2.5em 0 0;
        padding: 0;
        position: relative;
        }
        #mainNav li a:link, #mainNav li a:visited{
        display: block;
        padding: 0 25px;
        border-right: 1px solid #3c6b92;
        font: 1.3em DejaVuSansCond, Arial, sans-serif;
        text-transform: uppercase;
        color: #3c6b92;
        text-align:center;
        }
        #mainNav li , #mainNav li  {
        color: #fff;
        cursor: default;
        }
#mainNav li a:hover, #mainNav li a:active{
        color: #fff;
        border-bottom: none;
        }
#mainNav span{
            font: italic .8em DroidSerif, Georgia, "Times New Roman", Times, serif;
            color: #fff;
            text-transform: none;
            padding-top: .5em;
            letter-spacing: 0;
            }
#mainNav li:last-child a{
            border-right: none;
            }
#mainNav li ul {
            position:absolute;
            top: 30px;
            left: auto;
            display: none;
            width: 100%;
            background: #fff;
            }
.ho #mainNav li:hover ul, .no-js #mainNav li ul:hover{
            display: block;
            }
#mainNav li ul li {
                    float:none;
                    padding: 0;
                    margin:0;
                    }
#mainNav li ul a:link, #mainNav li ul a:visited {
                    font:normal .7em DejaVuSansCond, Arial, sans-serif;
                    line-height: 2.5em;
                    text-align: center;
                    color: #3c6b92;
                    padding: 0 1em;
                    display:block;
                    border-right: none;
                    letter-spacing: 0;
                    border-bottom: 1px solid #3c6b92;
                    
}
#mainNav li ul a:hover, #mainNav li ul a:active {
color: #fff;
background: #3c6b92;
}
#contentHeader {
    margin-top: 10em;
    margin-bottom: 2em;
}
hr{
    margin-top: 2em;
    margin-bottom: 4em;
}
#threeHeader{
    margin-top: 12em;
}
#mainSection {
    float: right;
    width: 740px;
    margin-right: 25px;
    overflow: hidden;
}
#mainArticle {
    margin-bottom: 50px;
    float: left;
}
#mainContent div.tourDescription {
    border-top: 2px solid #2c566a;
    float: left;
    clear: left;
    padding: 10px 0;
    margin-bottom: 15px;
}
a.more {
    display: block;
    float: right;
    width: 95px;
    height: 30px;
    background: url("./image/more_bug.gif") no-repeat left top;
    text-indent: -1000em;
    margin: 15px 0 0 15px;
}
h2 {
    font-size: 1.6em;
    color: #193742;
    font-weight: bold;
    margin-bottom: .5em;
    clear: right;
}
h1 {
    font-size: 1.5em;
    color: #3c6b92;
}
.pargraph {
    -moz-column-count: 2;
    -moz-column-gap: 25px;
    -webkit-column-count: 2;
    -webkit-column-gap: 25px;
    column-count: 2;
    column-gap: 25px;
    letter-spacing: 1px;
    word-spacing: 2px;
}
#secondaryContent {
    float: left;
    width: 740px;
    margin-right: 25px;
    overflow: hidden;
    }
    #specials{
        background-color: #e1d8b9;
        padding: 2em 3em;
        margin-left: 2em;
        margin-bottom: 2em;
    }
    #mohamed{
        background-color: #e1d8b9;
        padding: 2em 3em;
        margin-left: 2em;
        margin-bottom: 2em;
    }
    #secondaryContent h1 {
        font: normal 1.5em DejaVuSans, Arial, sans-serif;
        font-weight: normal;
        color: #3c6b92;
        padding-bottom: .1em;
        margin-bottom: 1em;
        border-bottom: 2px solid #3c6b92;
    }
    #secondaryContent #specials h2 {
        font-size: 1.2em;
        font-family: DejaVuSansCond, Arial, sans-serif;
        color: #193742;
        margin-bottom: 0;
        border-top: 2px solid #999;
        padding-top: 1em;
        font-weight: normal;
        clear: both;
        letter-spacing:1px;
    }
    #secondaryContent #specials h2.top {
        border:none;
        margin-top: 1em;
    }
    #secondaryContent #specials p {
        font-style: italic;
        text-align: right;
        margin: .5em 0;
        line-height: 1.6;
    }
    #secondaryContent #specials img {
        float: left;
        padding-bottom: 1em;
        padding-right: 2em;
    }
    #home #contentWrapper{
        margin: 0 25px;
        padding: 25px;
        background: #fff;
        background: rgba(255,255,255, 0.9);
        float: left;
        width: 1180px;
    }
    #home #mainContent {
        float: right;
        width: 700px;
        padding-right: 0;
        margin-right: 0;
    }
    #home #secondaryContent {
        float: left;
        width: 400px;
        margin-top: 0;
    }
    #home #mainContent h1, #home #secondaryContent h1 {
        margin: 1em 0 .5em;
        padding-top: 2em;
        border-top: 2px solid #999;
    }
    #home #mainContent h1:first-child, #home #secondaryContent h1:first-child {
        border: none;
        padding-top: 0;
        margin: 0 0 .25em;
    }
    #home #mainContent p + h1 {
        margin-top: 1em;
        padding-top: 1em;
        border-top: 2px solid #999;
    }
    #home #mainContent p {
        font-size: 1em;
        line-height: 2;
        margin: 1em 0;
    }
    #mainFooter {
        background: #e1d8b9;
        clear:both;
        overflow: auto;
        border-top: 1px solid #757575;
        height: 300px;
        width: 100%;
        margin-left: -20px;
        margin-bottom: -20px;
    }
    #mainFooter section {
        float: left;
        width: 341px;
        padding-top: 25px;
    }
    #mainFooter section:first-child {
        margin-left: 128px;
    }
    #mainFooter section h1{
        font-family: DejaVuSansCond, Arial, sans-serif;
        font-size: 1em;
        letter-spacing:1px;
        color: #3c6b92;
        text-transform: uppercase;
        margin-bottom: 1em;
    }
    #mainFooter section h2{
        font-family: DejaVuSansCond, Arial, sans-serif;
        font-size: 1.5em;
        letter-spacing:1px;
        color: #666;
        margin-bottom: 1em;
    }
    #mainFooter section p{
        font-family: DejaVuSansCond, Arial, sans-serif;
        font-size: 1em;
        margin-bottom: 1em;
        color: #666;
    }
    #mainFooter section ul{
        list-style: none;
        margin: 0;
        padding:0;
    }
    #mainFooter section li {
        margin-bottom: 1em;
    }
    #mainFooter section li a:link, #mainFooter section li a:visited {
        font-family: DejaVuSansCond, Arial, sans-serif;
        text-transform: uppercase;
        color: #666;
    }